body {
    background-color: #1a1a2e;
    color: #e5e5e5;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}
.jumbotron {
    background-color: #16213e;
    color: white;
    text-align: center;
    padding-bottom: 20px;
}
.btn-dark {
    background-color: #0f3460;
    color: white;
}
#lightbulb {
    position:absolute; /* Changed to fixed to keep it at the top */
    top: 0px; /* Adjusted to hang from the top */
    left: 50%;
    transform: translateX(-50%);
    animation: swing 4s infinite ease-in-out;
}
@keyframes swing {
    0%, 100% { transform: translateX(-50%) rotate(-10deg); }
    50% { transform: translateX(-50%) rotate(10deg); }
}
.container {
    padding-top: 20px; /* Added space for the lightbulb */
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .center-button {
    text-align: center; /* Center-align the button */
    margin-top: 20px; /* Optional: adds some space above the button */
}