:root {
  --headline-gradiant: linear-gradient(90deg, #16bffd, #cb3066);
  --scroll-gradiant: linear-gradient(to top, #a8c0ff, #3f2b96);
}

.filled-skill {
  --fill-colour: dodgerblue;
}

.unfill-skill {
  --fill-colour: white;
}

html {
  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: 0;
}
#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.05);
}
#progressBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  /* height: 100%; */
  z-index: 100;
  background: var(--scroll-gradiant);
  /* background: linear-gradient(to top, #008aff, #00ffe7); */

  animation: scrollAnimate 10s linear infinite;
}

#progressBar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--scroll-gradiant);

  /* filter: blur(10px); */
}

#progressBar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--scroll-gradiant);

  /* filter: blur(10px); */
}

@keyframes scrollAnimate {
  0% {
    /* filter: hue-rotate(0deg); */
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

#backToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  width: 60px;
  height: 60px;
  font-size: 36px;
  border: none;
  outline: none;
  background-image: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
  border-radius: 50%;
  color: white;
  cursor: pointer;

  background-size: 300%;
  animation: gradient 5s infinite alternate;
}

#backToTop:hover {
  background-color: #555;
}

.headline {
  text-align: center;
  font-size: 40pt;
  margin-top: 30pt;
}

.content {
  font-size: 18pt;
  padding: 3%;
}

.navbar-nav > li {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
}

#bigBanner {
  height: 90%;
  /* z-index: -50; */
  padding-top: 4%;
  padding-bottom: 2%;
  background-color: #302b63;
}

.bannerContent {
  background: transparent;
  width: 95vw;
  padding: 3rem;
  z-index: 10;
}

.centerText {
  color: orange;
  text-transform: uppercase;
  font-weight: 900pt;
  font-size: 8rem;

  background-image: var(--headline-gradiant);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200%;
  animation: gradient 3s infinite alternate;
}

@keyframes gradient {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.temp {
  z-index: 11;
}

#socialText {
  color: white;
  font-size: 20pt;
  padding-left: 2rem;
}

#socialMedia {
  display: inline;
  padding-left: 2rem;
  z-index: 12;
}

#resumeButton {
  display: inline-block;
  padding: 0.46em 1.6em;
  border: 0.1em solid #000000;
  margin: 0 0.2em 0.2em 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  border-radius: 2em;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: #ffffff;
  text-align: center;
  transition: all 0.15s;
  font-size: 12pt;
  background-color: #42cc8c;
}

#resumeButton:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #ffffff;
  border-color: #ffffff;
}
@media all and (max-width: 30em) {
  #resumeButton {
    display: block;
    margin: 0.4em auto;
  }
}

.imgIcon {
  width: 40px;
  height: 40px;
  margin-right: 2vw;
}

img.featuredIcon {
  background-color: white;
  /* width: 180px; */
  /* height: 150px; */
}

#featureHeader {
  padding-left: 5rem;
  color: white;
  font-size: 24pt;
}

.area {
  z-index: -1;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

#left {
  width: 70%;
  float: left;
  overflow: hidden;
}

#right {
  /* padding-top: 50%; */
  /* position: relative;
  top: 0; */
  width: 30%;
  text-align: center;
  float: right;
  overflow: hidden;

  /* transform: translate(0%, 50%); */
}

#skillsContent {
  /* color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 80vh;
  background: #010615;
  z-index: 3;
}

.box {
  position: relative;
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  /* background: #060c21; */
  transition: 0.5s;
  z-index: 3;
}

.box:hover {
  height: 450px;
}

.box:hover .imgBox img {
  opacity: 0.001;
}

.skillInfo {
  z-index: 5;
  opacity: 0;
}

.box .imgBox img {
  max-width: 100%;
  transition: 0.5s;
  z-index: 8;
}

.box:hover .skillInfo {
  opacity: 1;
}

.box .skillInfo {
  position: absolute;
  top: 0%;
}

.box:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: white;
  z-index: -1;
}

.box:after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: white;
  z-index: -2;
  filter: blur(10px);
}

.box:before,
.box:after {
  background: linear-gradient(235deg, #004ff9, #fff94c);
}

.box:nth-child(2):before,
.box:nth-child(2):after {
  background: linear-gradient(235deg, #b92b27, #1565c0);
}

.box:nth-child(3):before,
.box:nth-child(3):after {
  background: linear-gradient(235deg, #1a2a6c, #b21f1f, #fdbb2d);
}

#projects {
  padding-bottom: 5vh;
}

.project {
  position: relative;
  padding-left: 20vh;
  padding-right: 20vh;
  margin-bottom: 50px;
  height: 38vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projLogo {
  width: 30%;
  text-align: center;
  float: left;
  overflow: hidden;
  /* background-color: #004ff9; */
}

.projImg {
  height: 25vh;
  width: auto;
}

.projDesc {
  width: 70%;
  float: right;
  overflow: hidden;
  /* background-color: red; */
  vertical-align: middle;
}

.footer {
  background-color: #302b63;
}

.footer-text {
  font-size: 18px;
}

.footer-container {
  padding: 2rem;
  padding-top: 4rem;
}

footer a {
  font-size: 20px;
  padding-left: 8%;
  padding-right: 8%;
  color: #bd5fec;
}

#mailLink:hover {
  color: #6f75f3;
}
